.modal-thanks.modal(data-role="modal")
  .modal-thanks__layer.modal-layer(data-role="modal-layer")
  .modal-thanks__wrap.modal-wrap
    .modal-thanks__content.modal-content
      button.modal-thanks__close.modal-close(type='button' data-role="modal-close")
      .modal-thanks__title Заявка успешно отправлена!
      .modal-thanks__text В течение дня с Вами свяжется наш менеджер для уточнения деталей
